<div ng-controller='PlanCtrl'>
	<h3>This is the plan</h3>
	 <div ng-click="add()">Add new</div>
	 <div ng-click="refresh()">refresh</div>
	 <table ng:model="stories">
		<thead>	
			<tr>
				<th>Id</th>
				<th>Title</th>
			</tr>
		</thead>
		<tbody ui:sortable="options" ng-model="stories">
		    <tr ng:repeat="story in stories | reverse" class="story">
		    	<td><span>{{story.get('number')}}</span></td>
		    	<td><span class="title" inline-edit="story.at('title')" /></td>
		    </tr>
		</tbody>
	 </table>
</div>